body {
    height: 100vh;
    background: linear-gradient(to left, rgb(3, 115, 219), rgb(2, 67, 146));
}

.box {
    height: 350px;
}

.box-1 {
    background: linear-gradient(to right, rgb(3, 115, 219), rgb(2, 67, 146));
}

h4 {
    font-size: 30px;
    font-weight: 300;
}

p {
    font-size: 23px;
    font-weight: 200;
}